
<%= render "partials/menu" %>
<div class="wrapper">
    <!-- Hero section-->
    <section class="split-image parallax contact-img" >
        <div class="split-image-footer">
            <ul class="split-list">
                <li><%= link_to "Download Resume", download_pdf_path %></li>
            </ul>
        </div>
    </section>
    <!-- Hero section end-->
    <!-- Content section-->
    <section class="split-content">
        <!-- Page title-->
        <section class="contact-module-top">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Contact Me</h1>
                        <p>Please feel free to conact me in any way, for any reason...if you'd like to discuss a project, collaboration, or have a potential opportunity for which I might be a good fit.
                        I would love to hear from you.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page title end-->
        <!-- MAP-->
        <div class="maps-container">
            <iframe id="map"
              frameborder="0" 
              style="border:0"
              src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBn0KMTyIiS5spCBxpJhM5Vwy6XZreE248&center=35.996589, -78.900691&zoom=9" allowfullscreen>
            </iframe>
        </div>
        <!-- END MAP-->
        <!-- Reach me-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Reach me.</h6>
                    </div>
                    <div class="col-sm-4">
                        <h6>Phone:</h6>
                        <ul>
                            <li>317 833 8808</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h6>E-mail:</h6>
                        <ul>
                            <li><%= mail_to "brandonelder3@gmail.com", "brandonelder3@gmail.com" %></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Reach me end-->
        <!-- Contatc form-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Send me an email.</h6>
                    </div>
                    <div class="col-sm-8">
                    <%= form_for @message, url: contact_path do |message_form| %>
                        <form id="contact-form" method="post" novalidate>
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <%= message_form.text_field :firstName, placeholder: "First Name", required: true, class: "form-control" %>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                  <%= message_form.text_field :lastName, placeholder: "Last Name", required: true, class: "form-control" %>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                  <%= message_form.text_field :company, placeholder: "Company", class: "form-control" %>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                  <%= message_form.email_field :email, placeholder: "Email", required: true, class: "form-control" %>
                                    <p class="help-block text-danger"></p>
                                </div>
                              </div>
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <%= message_form.text_area :content, placeholder: "Message", required: true, class: "form-control", rows: "7", required: "" %>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                              <%= message_form.submit "Sending", class: "btn btn-brand", type: "submit", value: "Send" %>
                            </div>
                          </div>
                        </form>
                        <% end %>
                        <!-- Ajax response-->
                        <div class="ajax-response text-center" id="contact-response"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact form end-->  
        <%= render 'partials/footer' %> 
    </section>
    <!-- Content section end-->
</div>
