<!-- Preloader-->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- Preloader end-->
<!-- Show menu-->
<div class="show-menu-btn">
<span></span>
<span></span>
<span></span>
</div>
<!-- Show menu end-->
<!-- Menu-->
<div class="overlay-menu">
    <div class="menu-table">
        <div class="menu-table-cell">
            <ul class="navigation">
                <li><%= link_to 'Profile', root_path %></li>
                <li><%= link_to 'Resume', resume_path %></li>
                <li><%= link_to 'Portfolio', portfolio_path %></li>
                <li><%= link_to 'Blog', blog_path %></li>
                <li><%= link_to 'Contact', contact_path %></li>
            </ul>
        </div>
    </div>
</div>
<!-- Menu end-->
<div class="wrapper">
<!-- Hero section-->
<section class="split-image parallax index-img" >
</section>
<!-- Hero section end-->
    <!-- Content section-->
    <section class="split-content">
        <!-- Hello text-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Hello, I am Brandon Elder<br>Ruby on Rails Developer.</h1>
                        <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hello text end-->
        <!-- Personal info-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Personal Info.</h6>
                    </div>
                    <div class="col-sm-8">
                        <ul>
                            <li>Name: Brandon Elder</li>
                            <li>Birthdate: August 12, 1980</li>
                            <li>Address: 2063 Hitchcock Dr, Durham NC</li>
                            <li>Phone: 317-833-8808</li>
                            <li>E-mail: <a href="#">brandonelder3@gmail.com</a></li>
                            <li>Website: <%= link_to "github", "https://github.com/BrandonElder" %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Personal info end-->
        <!-- Services-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Services.</h6>
                    </div>
                    <div class="col-sm-8">
                        <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="service-list">
                                    <li>Digital Strategy</li>
                                    <li>Software Development</li>
                                    <li>Content Direction</li>
                                    <li>Interaction Design</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="service-list">
                                    <li>Websites + Apps</li>
                                    <li>Responsive Design</li>
                                    <li>Digital Marketing</li>
                                    <li>User Experience</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services end-->
        <!-- Professional skills-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Professional skills.</h6>
                    </div>
                    <div class="col-sm-8">
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Ruby, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="70" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Rails, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">Javascript, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                        <!-- Progress bar-->
                        <div class="progress-item">
                            <div class="progress-title">HTML/CSS, <span class="p-coutn"></span>%</div>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!-- Progress bar end-->
                    </div>
                </div>
            </div>
        </section>
        <!-- Professional skills end-->
        

        <%= render 'partials/footer' %>

    </section>
    <!-- Content section end-->
</div>
<!-- Scripts-->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>

