<!-- Preloader-->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- Preloader end-->
<!-- Show menu-->
<div class="show-menu-btn">
<span></span>
<span></span>
<span></span>
</div>
<!-- Show menu end-->
<!-- Menu-->
<div class="overlay-menu">
    <div class="menu-table">
        <div class="menu-table-cell">
            <ul class="navigation">
                <li><%= link_to 'Profile', root_path %></li>
                <li><%= link_to 'Resume', resume_path %></li>
                <li><%= link_to 'Portfolio', portfolio_path %></li>
                <li><%= link_to 'Blog', blog_path %></li>
                <li><%= link_to 'Contact', contact_path %></li>
            </ul>
        </div>
    </div>
</div>
<!-- Menu end-->
<div class="wrapper">
<!-- Hero section-->
<section class="split-image parallax portfolio-img" >
</section>
<!-- Hero section end-->
    <!-- Content section-->
    <section class="split-content">
        <!-- Page content-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-12">
                        <article class="post">
                            <div class="post-header">
                                <h1 class="post-title">Latest Works & Projects.</h1>
                                <ul class="post-meta">
                                    <li><span>2016 | 2017</span></li>
                                </ul>
                            </div>

                            <!--  Project #1 -->
                            <%=link_to("https://camelotchess.herokuapp.com") do %>
                            <div class="post-content portfolio-item brand">
                                <div class="portfolio-wrapper"><%= image_tag("camelotchess1.JPG") %>
                                    <div class="portfolio-overlay"></div>
                                    <div class="portfolio-caption">
                                        <h6 class="portfolio-title">Camelot Chess</h6><span class="portfolio-subtitle">Ruby On Rails / JS Chess Project</span>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <!-- Project #1 End -->
                            <!--  Project #2 -->
                            <%=link_to("https://belder-grammable.herokuapp.com") do %>
                            <div class="post-content portfolio-item brand">
                                <div class="portfolio-wrapper p2img"><%= image_tag("grammable1.JPG") %>
                                    <div class="portfolio-overlay"></div>
                                    <div class="portfolio-caption">
                                        <h6 class="portfolio-title">Grammable</h6><span class="portfolio-subtitle">RoR Instagram Clone</span>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <!-- Project #2 End -->
                            <!--  Project #3 -->
                            <%=link_to("https://belder-grammable.herokuapp.com") do %>
                            <div class="post-content portfolio-item brand">
                                <div class="portfolio-wrapper"><%= image_tag("flixter1.JPG") %>
                                    <div class="portfolio-overlay"></div>
                                    <div class="portfolio-caption">
                                        <h6 class="portfolio-title">Flixter</h6><span class="portfolio-subtitle">Ruby on Rails</span>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <!-- Project #3 End -->

                        </article>
                    </div>
                </div>
                <!-- Portfolio detail-->
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-unstyled">
                            <li>Client: Design'd Inc</li>
                            <li>Date: June 12, 2014</li>
                            <li>Type: Printing</li>
                            <li>Site: <a href="#">www.clientsite.com</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <p class="lead">Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.</p>
                        <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag.</p>
                    </div>
                </div>
                <!-- Portfolio detail end-->
            </div>
        </section>
        <!-- Page content end-->

        <%= render 'partials/footer' %>

    </section>
    <!-- Content section end-->
</div>