<!-- Preloader-->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- Preloader end-->
<!-- Show menu-->
<div class="show-menu-btn">
<span></span>
<span></span>
<span></span>
</div>
<!-- Show menu end-->
<!-- Menu-->
<div class="overlay-menu">
    <div class="menu-table">
        <div class="menu-table-cell">
            <ul class="navigation">
                <li><%= link_to 'Profile', root_path %></li>
                <li><%= link_to 'Resume', resume_path %></li>
                <li><%= link_to 'Portfolio', portfolio_path %></li>
                <li><%= link_to 'Blog', blog_path %></li>
                <li><%= link_to 'Contact', contact_path %></li>
            </ul>
        </div>
    </div>
</div>
<!-- Menu end-->
<div class="wrapper">
<!-- Hero section-->
<section class="split-image parallax resume-img" >
</section>
<!-- Hero section end-->
    <!-- Content section-->
    <section class="split-content">
        <!-- Page title-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Education & Work Experience.</h1>
                        <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page title end-->
        <!-- Education-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Education.</h6>
                    </div>
                    <div class="col-sm-8">
                        <ul class="resume-info">
                            <li>
                                <h6 class="resume-title">Academy of Art University</h6>
                                <h6 class="resume-meta">2001 - 2004</h6>
                                <p>Academy of Art University's School of Web Design & New Media is the intersection between traditional design and new technologies.</p>
                            </li>
                            <li>
                                <h6 class="resume-title">IT Technical Institute</h6>
                                <h6 class="resume-meta">2005 - 2008</h6>
                                <p>Information technology (IT) workers can be found in many types of organizations. According to the U.S. Department of Labor, "In the modern workplace, it is imperative that Information Technology (IT) works both effectively and reliably.</p>
                            </li>
                            <li>
                                <h6 class="resume-title">Web Design School</h6>
                                <h6 class="resume-meta">2009 - 2012</h6>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Education end-->
        <!-- Work Experience-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Work Experience.</h6>
                    </div>
                    <div class="col-sm-8">
                        <ul class="resume-info">
                            <li>
                                <h6 class="resume-title">Software Engineer - Apple</h6>
                                <h6 class="resume-meta">2001 - 2004</h6>
                                <p>Academy of Art University's School of Web Design & New Media is the intersection between traditional design and new technologies.</p>
                            </li>
                            <li>
                                <h6 class="resume-title">Creative Direction - Twitter</h6>
                                <h6 class="resume-meta">2005 - 2008</h6>
                                <p>Information technology (IT) workers can be found in many types of organizations. According to the U.S. Department of Labor, "In the modern workplace, it is imperative that Information Technology (IT) works both effectively and reliably.</p>
                            </li>
                            <li>
                                <h6 class="resume-title">Front-end Developer – Wrapbootstrap</h6>
                                <h6 class="resume-meta">2009 - 2012</h6>
                                <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Work Experience end-->
        <!-- Language Skills-->
        <section class="module">
            <div class="container-fluid container-custom">
                <div class="row">
                    <div class="col-sm-4">
                        <h6>Language Skills.</h6>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="pie-chart">
                                    <div class="chart" data-percent="82">
                                        <div class="chart-text">82</div>
                                    </div>
                                    <div class="chart-title">
                                        <h6>English</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="pie-chart">
                                    <div class="chart" data-percent="64">
                                        <div class="chart-text">64</div>
                                    </div>
                                    <div class="chart-title">
                                        <h6>German</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Language Skills end-->

        <%= render 'partials/footer' %>
        
    </section>
    <!-- Content section end-->
</div>
        